
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,a,ul,li,a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    min-width: 320px;
}

.LOL1{
    background: #526E3E;
}

.LOL2{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.815);
    padding-top: 30px;
    padding-bottom: 27px;
    margin-left: 57px;
}


.header-section-1{
    background: url(../img/женщина-1.jpg) no-repeat center/cover;
  
}

.moaiBNAEOBN{
    width: 418px;
    height: 192px;
    
}

.yjkdtrxdtjkytjk{
    background: #526E3E;
}

body{
    min-width: 320px;
}

.natural{
    font-size: 41px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 120px;
}

.brsntumjt{
    font-size: 28px;
    color: #526E3E;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 98px;
}

.eatnteykm{
    font-size: 16px;
    color: #526E3E;
}

.amir{
    width: 100%;
    height: 100%;
}

.vwbjnetan{
    color: #526E3E;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.582);
    text-decoration: none;
    padding: 10px 10px 10px 10px ;
    font-size: 14px;
    max-width: 180px;
    line-height: 18px;
    letter-spacing: 2px;
    text-align: center;
    margin: auto;
    margin-left: 10px;
    transition: 0.5s;
    margin-top: 100px;
    display: flex;
}

.LOL3{
    font-size: 110px;
    color: #FDFBED;
    padding-top: 268px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.header-section-3{
    background: url(../img/зубная\ шмаста.jpg) no-repeat center/cover;
    width: 100%;
    padding-bottom: 269px;
}

.jcc{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding-top: 240px;
}

.LOL4{
    width: 100%;
    height: 100%;
}

.skurtku{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.LOL5{
    font-size: 30px;
    color: #526E3E;
    margin-top: 47px;
    max-width: 342px;
    margin-left: 210px;
}

.header-section-4{
    margin-top: 87px;
}

.LOL6{
    font-size: 17px;
    color: #526E3E;
    margin-top: 25px;
    margin-left: 210px;
    max-width: 345px;
}

.LOL7{
    font-size: 17px;
    color: #526E3E;
    margin-top: 23px;
    margin-bottom: 22px;
    margin-left: 210px;
    max-width: 392px;
}

.LOL8{
    font-size: 17px;
    color: #526E3E;
    max-width: 380px; 
    margin-left: 205px; 
}





.LOL9{
    font-size: 36px;
    color: #526E3E;
    margin-top: 132px;
    margin-left: 210px;
}

.LOL4{
    font-size: 36px;
    color: #526E3E;
    
    margin-right: 50px;
}

.wrgheah{
    width: 720px;
    height: 726px;
}

.wrgheahj{
    width: 726px;
    height: 720px;
}

.LOL10{
    height: 100%;
    width: 102%;

}

.LOL13{
    color: #526E3E;
    font-size: 36px;
    margin-top: 135px;
}

.LOL11{
    height: 100%;
    width: 102%;
    margin-right: 23px;
    padding-left: 0px;
}



.LOL10{
    width: 100%;
    margin-right: 5px;
}

.parent {
    display: flex;
    align-items: flex-start;
    height: 100%;
  }
.jsrysryj{
    order: 1;
}

.srthrth{
    order: 1;
}


.LOL12{
    width: 100%;
}

.vbyph{
    width: 100%;
    margin-left: 5px;
}

.haetrhet{
    margin-right: 0px;
    
}

haetrhet1{
    margin-left: 0px; 
}
.LOL14{
    font-size: 27px;
    color: #526E3E; 
    margin-left: 130px;
}

.LOL15{
    margin-top: 31px;
    font-size: 17px;
    color: #526E3E;
    max-width: 380px;
    width: 100%;
    margin-left: 130px;
}



.LOL16{
    font-size: 17px;
    color: #526E3E;
    margin-top: 23px;
    max-width: 350px;
    margin-left: 130px;
}

.LOL17{
    font-size: 17px;
    color: #526E3E;
    margin-top: 23px;
    max-width: 365px;
    margin-left: 130px;
}

.LOL4125146{
    font-size: 28px;
    color: #526E3E;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 90px;
}

.egahaetaegr{
    font-size: 57px;
    color: #526E3E;
    margin-right: 35px;
    margin-left: 35px;
    margin: auto;
    margin-top: 58px;
}

.tjjnrwsnwyjm5{
    font-size: 26px;
    color: #526E3E;
    margin-top: 135px;
    margin-left: 132px;
    margin-bottom: 45px;
}

.aebnjaejnb1{
    font-size: 13px;
    color: #526E3E;
    justify-content: center;
    align-items: center;
    display: flex;
}

.aebnjaejnb2{
    font-size: 13px;
    color: #526E3E;
}

.tukldutlltuildtuc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aebnjaejnb3{
    font-size: 13px;
    color: #526E3E;
}

.aebnjaejnb4{
    font-size: 13px;
    color: #526E3E; 
}

.aebnjaejnb5{
    font-size: 13px;
    color: #526E3E;
}

.aebnjaejnb6{
    font-size: 13px;
    color: #526E3E;
}

.aebnjaejnb7{
    font-size: 13px;
    color: #526E3E;
}

.header-section-8{
    background: url(../img/1-Negro.jpg) no-repeat center/cover; 
    padding-top: 200px;
    padding-bottom: 186px; 
}

.gQEHQH{
    max-width: 576px;
    font-size: 96px;
    color: #526E3E;
}

.sbetsansnrt{
    width: 180px;
    height: 32px;
    border: 1px solid #526E3E;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #526E3E;
}

.fwsegearb{
    width: 180px;
    height: 32px;
    border: 1px solid #526E3E;
    display: flex;
    margin: auto;
    color: #526E3E;
    margin-top: 71px;
    margin-bottom: 104px;
    padding-left: 30px;
}

.wGEARHATNJMYRer{
    margin-right: 20px;
    margin-left: 20px;
    color: rgb(153, 152, 145);
    margin-bottom: 18px;
    margin-top: 150px;
}

.eahrdky{
    font-size: 13px;
    color: #526E3E;
    margin-bottom: 18px;
    margin-left: 52px;
}

.eahjntdky{
    font-size: 13px;
    color: #526E3E;
    max-width: 252px;
    margin-bottom: 132px;
}

.header-section-10{
    background: url(../img/всё\ в\ одном.jpg)no-repeat center/cover;
}

.LOUJ{
    font-size: 1px;
    color: #ffffff;
    padding-top: 512px;
    padding-bottom: 724px;
}

.header-section-11{
    background: #526E3E;
}

.LOL100{
    font-size: 12px;
    color: #EDDBBE;   
}

.LOL101{
    font-size: 12px;
    color: #EDDBBE;
    padding-left: 70px;
}

.header-section-11{
    padding-top: 60px;
    padding-bottom: 60px;
}

.LOL102{
    font-size: 12px;
    color: #EDDBBE;
    margin-right: 68px;
}

.LOL103{
    font-size: 12px;
    color: #EDDBBE;
    margin-left: 13px;
}

.LOL104{
    font-size: 12px;
    color: #EDDBBE;
    margin-right: 33px;
}

.LOL105{
    font-size: 12px;
    color: #EDDBBE;
    margin-right: 25px;
}

.LOL106{
    font-size: 12px;
    color: #EDDBBE;
    margin-right: 92px;
}

.instagram{
    font-size: 20px;
    color: #ffffff;
    margin-right: 12px;
}

.facebook{
    font-size: 20px;
    color: #ffffff;
    margin-right: 30px;
}

.LOL107{
    display: flex;
}

.LOLOLOLOLOL{
    font-size: 12px;
    color: #EDDBBE;
}

.LOLOLOLOLOLOLOLOL{
    font-size: 1px;
    color: #ffffff;
}

.LOLOLOLOLOLOLOLO{
    background: #ffffff;
    width: 42px;
    height: 52px;
}
